#calender_container {
  width: 90%;
  background-color: rgb(12, 12, 12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#links {
  width: 25%;
  height: 100%;
  background-color: rgb(95, 95, 95);
}

#calender {
  width: 50%;
  flex-grow: 1;
  background-color: rgb(153, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#calender_box {
  height: 90%;
  width: 90%;
  background-color: green;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#calender_top {
  background-color: red;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35rem;
  flex-grow: 1;
}

#weekday {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  height: 20px;
  width: 80px;
  background-color: grey;
  color: white;
}

#days_box {
  background-color: darkgrey;
  display: grid;
  grid-template-columns: repeat(7, 5rem);
  grid-template-rows: repeat(7, 5rem);
}

#day_box {
  border: 1px solid black;
}

#day_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#day_number {
  font-size: 1rem;
}

#plus_icon {
  color: rgb(29, 222, 103);
}

#container_plus {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
